

body {
  font-family: 'Noto Sans', regular, sans-serif;

}
.page-wrapper{
  background-color: rgb(220,87,87);
}



a:active, a:focus, a:hover {
  color: #128f76;
}

a:active, a:focus, a:hover {
  color: #128f76;
}


.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

img, svg {
  vertical-align: middle;
}

.img-fluid, .img-thumbnail {
  max-width: 100%;
  height: auto;
}

.bg-primary {
  background-color: rgb(239, 240, 239)!important;
}
.bg-secondary {
  background-color: rgb(207, 175, 134)!important;
}
.text-white {
  color: #fff!important;
}

body {
  font-family: Lato;
}

.list-inline-item:not(:last-child) {
  margin-right: .5rem;
}

.list-inline-item:not(:last-child) {
  margin-right: .5rem;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(59,198,171,.5);
}




.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgba(59,198,171,.5);
}

/*HEADER*/
.subtitle-container p{
  font-family: 'noto sans', serif;
}

/*PROJECTs*/

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

/*NAVIGATION*/
.navigation-clean.navbar-light .navbar-nav .nav-link{
  padding-left: 0px;
}
.navbar navbar-light navbar-expand-md navigation-clean p {
margin-top: 18px;
}
.navbar navbar-light navbar-expand-md navigation-clean{
  padding-top: 18px;
 
}
.nav-item{
  font-family: 'Noto Sans', sans-serif;
  font-weight: 500; 
  color: black; 
  text-decoration: none;
  
}

/*TYPOHTAPHY*/
h1{
  font-family: 'Noto Sans', sans-serif; 
  font-weight: 400; 
  font-size: 36px;
}

h5 {
  font-family: 'Noto Sans',  sans-serif; 
  font-size: 18px;
  font-weight: 600; 
  margin-top: 4px;
}

.description {
  justify-content: left;
  object-position: left;
}
p.description {
  font-family: 'Noto Sans',  sans-serif; 
  text-align: left;
  font-size: 16px;
  color: black;
}

.date {
  text-align: left;
  justify-content: left;
  object-position: left;
  margin-bottom: 4px;
  margin-top: 8px;
  padding: 0px;
}

p.date  {
  font-family: 'Noto Sans',  sans-serif; 
  font-size: 12px;
  color: black;
}

.projects-clean .item .description  {
  margin-top: 4px;
 
}