html{
  scroll-behavior: smooth;
}
.splash-img {
  display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    background-image: url(assets/veer/splash.png);

}
a:hover {
    color: #0f7864;
    text-decoration: underline;
  }
  
  .bg-primary {
    background-color: #18bc9c!important;
  }
  
  .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 .2rem rgba(59,198,171,.5);
  }
  
  .col-md-12{
    background-color: #29282C;
}
.veer-h2{
    color: #E5E5E5;font-family: Roboto;
    font-size: 25px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
}

.veer-p{
    font-family: Roboto;
    font-size: 25px;
    font-style: light;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #EEFEFF;
}
.veer-h1{
font-family: Roboto;
font-size: 48px;
font-style: normal;
font-weight: 400;
line-height: 56px;
letter-spacing: 0em;
text-align: left;
color: #EEFEFF;
}
.container-competitive{
    padding-top: 25px;
}
@media (min-width: 768px)
.header-blue .navbar, .navigation-clean {
   padding-top: 0;
    padding-bottom: 0px;
}