#section {
    padding-top: 28px;
}
.wbez-p-italic{
    
    font-style: italic;
}
.wbez-p {
    padding: none;
}
.col-sm {
    padding: 8px;
    justify-content: center;
}
.col-sm img{
    max-height: 400px;
}